node_modules
dist
build
out

.env
.env.*
!.env.example
.git
.gitignore
.dockerignore
README.md
LICENSE

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
logs
/coverage
/.nyc_output
.temp
.tmp
/test
/doc

.vscode
.idea
.project
.classpath
.settings
.DS_Store
Thumbs.db